<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <form class="form" name="detailForm">
                <div class="columns clearfix" ng-init="setForm(detailForm)">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.phone' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.phone" required
                                       type="tel" ui-mask="+7 (999) 999-9999"
                                       ui-mask-placeholder ui-mask-placeholder-char="_"/>

                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.email' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.email" required ng-maxlength="64"
                                       type="email" placeholder="{{ 'clients.blades.member-detail.placeholders.email' | translate }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <!--ng-init="setForm(detailForm)"-->
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.name' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.name" focus-on="" required placeholder="{{ 'clients.blades.member-detail.placeholders.name' | translate }}" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.lastName' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.lastName" focus-on="" required placeholder="{{ 'clients.blades.member-detail.placeholders.lastName' | translate }}" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.middleName' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.middleName" focus-on="" required placeholder="{{ 'clients.blades.member-detail.placeholders.middleName' | translate }}" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="columns clearfix">
                        <div class="column">
                                <label class="form-label">{{ 'clients.blades.member-detail.labels.country' | translate }}</label>
                        </div>
                        <div class="column">
                                <div class="form-input">
                                    {{ 'clients.blades.member-detail.labels.countryName' | translate }}
                                </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.subject' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.address.subject" theme="select2" on-select="choseSubject($item)">
                            <ui-select-match>
                                <span>{{$select.selected.name | translate}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in subjects">
                                <span>{{item.name | translate}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="blade.currentEntity.address.region || regions">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.region' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.address.region" theme="select2" on-select="choseRegion($item)">
                            <ui-select-match>
                                <span>{{$select.selected.name | translate}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in regions">
                                <span>{{item.name | translate}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group" ng-if="blade.currentEntity.address.typeofPoints || typeofPoints">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.typeofPoint' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.typeofPoint" theme="select2" on-select="choseSearchTypes($item)">
                                    <ui-select-match>
                                        <span>{{$select.selected.name | translate}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in typeofPoints">
                                        <span>{{item.name | translate}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group" ng-if="blade.currentEntity.address.pointsName || pointsName">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.pointName' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.pointName" theme="select2" on-select="choseSearchTypes($item)">
                                    <ui-select-match>
                                        <span>{{$select.selected.name | translate}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in pointsName">
                                        <span>{{item.name | translate}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group " ng-if="blade.currentEntity.pointName">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.street' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.address.street" ng-maxlength="50" />
                    </div>
                </div>

                <div class="columns clearfix" ng-if="blade.currentEntity.pointName">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.home' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.address.home" ng-maxlength="50" />
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.flat' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.address.flat" ng-maxlength="20" />
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.postcode' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.address.postcode" required type="tel" ui-mask="999999" ui-mask-placeholder ui-mask-placeholder-char="_" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.passport_series' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.passport.series" required ng-maxlength="50" />
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.passport_number' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.passport.number" required ng-maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.name_organization' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.passport.nameOrganization" required ng-maxlength="128" />
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.date_produce' | translate }}</label>
                            <div class="form-input __calendar">
                                <input type="text" class="form-control" required ng-model="blade.currentEntity.dateProduce" datepicker-popup="{{format}}" name="bd" is-open="datepickers.bd" max-date="today" datepicker-options="dateOptions" close-text="Close" placeholder="{{ 'clients.blades.member-detail.placeholders.date-produce' | translate }}" />
                                <button class="btn" type="button" ng-click="open($event,'bd')">
                                    <i class="btn-ico fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.member-detail.labels.code_organization' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.passport.codeOrganization" required ng-maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>





                <div class="form-group">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.address_residence' | translate }}</label>
                    <div class="form-control __checkbox">
                        <label class="form-label">
                            <input type="checkbox" ng-model="blade.currentEntity.addressResidence">
                            <span class="check"></span>
                            <span class="name">{{ 'clients.blades.member-detail.labels.address_residence_thesame' | translate }}</span>
                        </label>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.code_word' | translate }}</label>
                    <div class="form-input">
                        <input ng-model="blade.currentEntity.codeWord" required  ng-maxlength="64" />
                    </div>
                </div>

                <div class="form-group ">
                    <label class="form-label">{{ 'clients.blades.member-detail.labels.comment' | translate }}</label>
                    <div class="form-input">
                        <textarea ng-model="blade.currentEntity.comment" class="form-control" ></textarea>
                    </div>
                </div>

                <!--<div class="form-control __checkbox __inline">-->
                    <!--<label class="form-label">-->
                        <!--<input type="checkbox" class="check" ng-model="blade.currentEntity.addressResidence" name="address_residence" />-->
                        <!--{{ 'clients.blades.member-detail.labels.address_residence' | translate }}-->
                    <!--</label>-->

                <!--</div>-->



                    <!--<div class="form-group" ng-init="setForm(detailForm)">-->
                        <!--<label class="form-label">{{ 'clients.blades.member-detail.labels.name' | translate }}</label>-->
                        <!--<div class="form-input">-->
                            <!--<input ng-model="blade.currentEntity.name" focus-on="" required placeholder="{{ 'clients.blades.member-detail.placeholders.name' | translate }}" />-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<va-widget-container group="customerDetail1" blade="blade" gridster-opts="{width: 396}"></va-widget-container>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</fieldset>-->
                <!--<div class="form-group">-->
                    <!--<label class="form-label">{{ 'customer.blades.customer-detail.labels.birthday' | translate }}</label>-->
                    <!--<div class="form-input __calendar">-->
                        <!--<input type="text" class="form-control" ng-model="blade.currentEntity.birthDate" datepicker-popup="{{format}}" name="bd" is-open="datepickers.bd" max-date="today" datepicker-options="dateOptions" close-text="Close" placeholder="{{ 'customer.blades.customer-detail.placeholders.full-name' | translate }}" />-->
                        <!--<button class="btn" type="button" ng-click="open($event,'bd')">-->
                            <!--<i class="btn-ico fa fa-calendar"></i>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="form-label">{{ 'customer.blades.customer-detail.labels.organizations' | translate }}</label>-->
                    <!--<ui-select multiple ng-model="blade.currentEntity.organizations">-->
                        <!--<ui-select-match placeholder="{{ 'customer.blades.customer-detail.placeholders.organizations' | translate }}">{{$item.name}}</ui-select-match>-->
                        <!--<ui-select-choices repeat="x.id as x in organizations | filter: {name: $select.search}">-->
                            <!--<span ng-bind-html="x.name | highlight: $select.search"></span>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->
                <!--</div>-->
                <div class="form-group">
                    <va-widget-container group="customerDetail2" blade="blade" gridster-opts="{width: 396}"></va-widget-container>
                </div>
            </form>
        </div>
    </div>
</div>