<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <form class="form" name="detailCarForm">

                <div class="form-group" ng-init="setForm(detailCarForm)">
                    <label class="form-label">{{ 'clients.blades.car-detail.labels.color' | translate }}</label>
                    <div class="form-input">
                        <ui-select ng-model="blade.currentEntity.Color"  reset-search-input="false"  search-enabled="true"  required >
                            <ui-select-match>
                                <span><i class="fa fa-circle" style="color: {{$select.selected.color}}"></i> &nbsp; {{$select.selected.code}} &nbsp; {{$select.selected.name || $select.search | translate}} &#151; {{$select.selected.nameGIBDD | translate}}</span>
                                <a ng-if="$select.search" ng-click="clear($event, $select)"><i class="fa fa-remove"></i></a>
                            </ui-select-match>
                            <ui-select-choices repeat="item in colors" refresh="refreshResults($select)" refresh-delay="0">
                                <span><i class="fa fa-circle" style="color: {{item.color}}"></i> &nbsp; {{item.code}} &nbsp; {{item.name | translate}} <i>&#151; {{item.nameGIBDD | translate}}</i></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.car-detail.labels.IssueYear' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.IssueYear" required >
                                    <ui-select-match>
                                        <span>{{$select.selected.name | translate}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in IssueYears">
                                        <span>{{item.name | translate}}</span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>
                    <div class="column">
                      &nbsp;
                    </div>
                </div>

                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.car-detail.labels.make' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.Make" reset-search-input="false"  search-enabled="true" required>
                                    <ui-select-match  placeholder="{{'platform.commands.select-or-add' | translate }}">
                                        <span>{{$select.selected.name || $select.search | translate}}</span>
                                        <a ng-if="$select.search" ng-click="clear($event, $select)"><i class="fa fa-remove"></i></a>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in makes" refresh="refreshResults($select)" refresh-delay="0">
                                        <span>{{item.name | translate}}</span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.car-detail.labels.model' | translate }}</label>
                            <div class="form-input">
                                <ui-select ng-model="blade.currentEntity.Model" reset-search-input="false"  search-enabled="true" required>
                                    <ui-select-match  placeholder="{{'platform.commands.select-or-add' | translate }}">
                                        <span>{{$select.selected.name || $select.search | translate}}</span>
                                        <a ng-if="$select.search" ng-click="clear($event, $select)"><i class="fa fa-remove"></i></a>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in models" refresh="refreshResults($select)" refresh-delay="0">
                                        <span>{{item.name | translate}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns clearfix">
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.car-detail.labels.number' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.Number" focus-on="" required ng-maxlength="64" placeholder="{{ 'clients.blades.car-detail.placeholders.number' | translate }}" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label class="form-label">{{ 'clients.blades.car-detail.labels.VIN' | translate }}</label>
                            <div class="form-input">
                                <input ng-model="blade.currentEntity.VIN" focus-on="" required ng-maxlength="64" placeholder="{{ 'clients.blades.car-detail.placeholders.VIN' | translate }}" />
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>