<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block ">


            <div class="grid  __items">

                <div class="columns grid-header">
                    <div class="column">{{'clients.blades.contract-list.labels.BeginDate' | translate}}</div>
                    <div class="column">{{'clients.blades.contract-list.labels.Number' | translate}}</div>
                    <div class="column">{{'clients.blades.contract-list.labels.TypeOfBilling' | translate}}</div>
                    <div class="column">{{'clients.blades.contract-list.labels.Product' | translate}}</div>
                </div>
                <div class="columns grid-content" ng-repeat="data in blade.allContracts"
                    ng-click='selectNode(data)'>
                    <div class="column ">{{data.BeginDate}}</div>
                    <div class="column ">{{data.Number}}</div>
                    <div class="column">{{data.TypeOfBilling}}</div>
                    <div class="column">{{data.Product}}</div>
                </div>
            </div>

            <a class="addMore"  ng-hide="blade.allContracts.length < opts.countContracts*opts.currentPage"
                    class="load-more button-secondary" ng-click="loadMore()">
                Загрузить еще...
            </a>
            <div class="ng-cloak" ng-show="loading && trips.length > 0"
                 style="text-align: center; font-size: 20px">
                <img src="images/loading.svg" ng-show="loading" style="vertical-align: middle">
            </div>
        </div>
    </div>
</div>

