<div class="window">
    <div class="window-status" ng-if="progress">
        <div class="progress-bar"></div>
    </div>
    <header class="window-head">
        <div class="window-t __logo">{{ 'platform.blades.restore-password.labels.title' | translate }}</div>
    </header>
    <div class="window-cnt">
        <form class="form" novalidate ng-submit="(proveResetPassword)?resetPassword():ok()" name="restoreForm">
            <div class="form-group">
                <label class="form-label">{{ 'platform.blades.restore-password.labels.login' | translate }}</label>
                <div class="form-input">
                    <input name="login" id="login" ng-model="user.email" required autofocus va-autofill
                           type="tel" ui-mask="+7 (999) 999-9999" 
                           ui-mask-placeholder ui-mask-placeholder-char="_"/>
                </div>
            </div>
            <div class="form-group" ng-if="proveResetPassword">
                <label class="form-label">{{ 'platform.blades.restore-password.labels.reset-code' | translate }}</label>
                <div class="form-input">
                    <input name="resetCode" type="tel" ng-model="user.resetCode" required va-autofill>
                </div>
            </div>

            <div class="form-group">
                <div class="form-error" ng-if="authError">
                    {{authError}}
                </div>
                <div class="form-error" ng-if="successMessage">
                    {{ 'platform.blades.restore-password.labels.success-message' | translate }}
                </div>

            </div>
            <div class="form-group __right">
                <button class="btn" type="submit" ng-disabled="restoreForm.$invalid||progress">
                    <span>{{ 'platform.blades.restore-password.labels.btn' | translate }}</span>
                </button>
                <p>
                    <a ui-sref="loginDialog">{{ 'platform.blades.login.labels.sign-in' | translate }}</a>
                    &nbsp;|&nbsp;
                    <a ui-sref="registration">{{ 'platform.blades.new-account-wizard.labels.title' | translate }}</a>
                </p>
            </div>
        </form>
    </div>
</div>